<mat-accordion *ngIf="clientes.length > 0">
  <mat-expansion-panel *ngFor="let cliente of clientes">
    <mat-expansion-panel-header>
      <p>
        <span class="fw-600 flato">nome: </span>
        <span class="fw-300 flato">{{ cliente.nome }}</span>
      </p>
    </mat-expansion-panel-header>
    <div>
      <p>
        <span class="fw-600 flato">email: </span>
        <span class="fw-300 flato">{{ cliente.email }}</span>
      </p>
      <p>
        <span class="fw-600 flato">fone: </span>
        <span class="fw-300 flato">{{ cliente.fone }}</span>
      </p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center" *ngIf="clientes.length <= 0">
  Nenhum cliente cadastrado
</p>
